        <a href="/" class="list-group-item text-center"s>
          <h4 class="glyphicon glyphicon-remove-sign"></h4><br/>Log Out
        </a>
	
		
			<div class="row">
		        <div class="col-lg-11 bhoechie-tab-container">
		            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
		              <div class="list-group">
		                <a href="#" class="list-group-item active text-center">
		                  <h4></h4>Welcome!
		                </a>
		                <a id="assignments-button" href="" class="list-group-item text-center">
		                  <h4 class="glyphicon glyphicon-book"></h4><br/>Assignments
		                </a>
		                <a href="" class="list-group-item text-center">
		                  <h4 class="glyphicon glyphicon-file"></h4><br/>Exams
		                </a>
		                <a href="" class="list-group-item text-center">
		                  <h4 class="glyphicon glyphicon-user"></h4><br/>Edit Profile
		                </a>
		                <a href="" class="list-group-item text-center">
		                  <h4 class="glyphicon glyphicon-wrench"></h4><br/>Settings
						</a>
		              </div>
		            </div>
					
		            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
		                <!-- welcome-->
		                <div class="bhoechie-tab-content active">
		                    <center>
								<button type="button" class="btn btn-info">Notification+</button>
								<a href="/countdown"><button type="button" class="btn btn-info">Countdown</button></a>
								<br></br>
								<br></br>
								<a href="http://r54.cooltext.com/d.php?renderid=1557470475&amp;extension=png"><img src="http://r54.cooltext.com/rendered/cooltext1557470475.png"></a>
		                    </center>
		                </div>
		                <!-- assigment -->
		                <div class="bhoechie-tab-content">
							  <button type="button" class="btn btn-default btn-lg href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Add Assignment (+)</button>
				
		                    <center>
								
								<table id="assignment-table" class="table">
								  <tr>
									  <th>Assignments Title</th>
									  <th>Course</th>
									  <th>Date </th>
								  </tr>
								  <tr>
									  <td>Testing Script</td>
									  <td>Software Testing</td>
									  <td>12/6/2014</td>
									</tr>
								</table>
		                    
		                    </center>
		                </div>
    
		                 <!-- google calendar -->
		                <div class="bhoechie-tab-content">
		                    <center>
						 <iframe src="https://www.google.com/calendar/embed?title=Task%20Buddy%20Calendar&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ff9900&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%2323164E&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=Asia%2FKuala_Lumpur" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
		                    </center>
		                </div>
						
					   <div class="bhoechie-tab-content">
		                    <center>
						<div class="well">
						    <ul class="nav nav-tabs">
						      <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
						    </ul>
						    <div id="myTabContent" class="tab-content">
						      <div class="tab-pane active in" id="home">
									<form role="form">
									  <div class="form-group">
									    <label for="exampleInputEmail1">Username</label>
									    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
									  </div>
									  <div class="form-group">
									    <label for="exampleInputPassword1">Password</label>
									    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
									  </div>
									<div>
   									       <label>University</label>
									       <select class="form-control">
											 <option></option>
									         <option>UNIVERSITI TEKNIKAL MALAYSIA MELAKA</option>
									         <option>UNIVERSITI TUN HUSSIEN ONN</option>
									         <option>UNIVERSITI TEKNOLOGI MALAYSIA</option>
									       </select>
								    </div>
								    <div>
   									       <label>Faculty</label>
									       <select class="form-control">
											 <option></option>
									         <option>FTMK</option>
									         <option>FKE</option>
									         <option>FKEKK</option>
									       </select>
								   </div>
								   <div>
   									       <label>Courses</label>
									       <select class="form-control">
											 <option></option>
									         <option>BITE</option>
									         <option>BITZ</option>
									         <option>BITS</option>
									       </select>
								  </div>
								  <div>
									    <button type="update" class="btn btn-default">Update</button>
								  </div>
									</form>
						      </div>
						  </div>
		                    </center>
		                </div>
		                <div class="bhoechie-tab-content">
		                    <center>
								<table>
								  <tr>
									  <th>
										  <div class="container">
								                <h3>Notification Sound </h3>
								                   <span class="button-checkbox">
								                       <button type="button" class="btn" data-color="primary">Checked</button>
								                       <input type="checkbox" class="hidden" checked />
												   </span>
										   </div>
									  </th>
									  
								  </tr>
								  <tr>
									  <th>
										  <div class="container">
								                <h3>Language</h3>
								                   <span class="button-checkbox">
								                       <button type="button" class="btn" data-color="primary">English</button>
								                       <input type="checkbox" class="hidden" checked />
												   </span>
								                   <span class="button-checkbox">
								                       <button type="button" class="btn" data-color="primary">Mandarin</button>
								                       <input type="checkbox" class="hidden" unchecked />
												   </span>
										   </div>
									  </th>
								  <tr/>
								  <tr>
									  <th>
										  <div class="container">
								                <h3>Support</h3>
								                   <span class="button-checkbox">
								                       <button type="button" class="btn" data-color="primary">Checked</button>
								                       <input type="checkbox" class="hidden" checked />
												   </span>
										   </div>
									  </th>
								  <tr/>	  
								</table>
							
		                    </center>
		                </div>
		            </div>
		        </div>
		  </div>
		  
		  
		  
		  
		  
		  
		  
		 

		<!-- Add assignment forms-->
		<div id="assignment-form" class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		        <br>
		        <div class="bs-example bs-example-tabs">
		            <ul id="myTab" class="nav nav-tabs">
		              <li class="active"><a href="#signin" data-toggle="tab">+ Assignments</a></li>
		            </ul>
		        </div>
		      <div class="modal-body">
		        <div id="myTabContent" class="tab-content">
		            <div class="tab-pane fade active in" id="signin">
		            <form class="form-horizontal">
		            <fieldset>
		            <!-- Sign In Form -->
		            <!-- Text input-->
		            <div class="control-group">
		              <label class="control-label" for="userid">Assignment title:</label>
		              <div class="controls">
		                <input required="" id="title" name="course" type="text" class="form-control" class="input-medium" required="">
		              </div>
		            </div>
		            
					<div class="control-group">
		              <label class="control-label" for="userid">Subject:</label>
		              <div class="controls">
		                <input required="" id="subject" name="userid" type="text" class="form-control" class="input-medium" required="">
		              </div>
		            </div>
					
		            <div class="control-group">
		              <label class="control-label" for="userid">Date:</label>
		              <div class="controls">
		                <input required="" id="date" name="userid" type="text" class="form-control" class="input-medium" required="">
		              </div>
		            </div>
					

	

		            <!-- Button -->
		            <div class="control-group">
		              <label class="control-label" for="signin"></label>
		              <div class="controls">
		               	<button id="add-assignment" class="btn btn-success">Add Assignment</button>
		              </div>
		            </div>
		            </fieldset>
		            </form>
		        </div>
		      <div class="modal-footer">
		      <center>
		        <button id="close-assignment-form" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </center>
		      </div>
		    </div>
		  </div>
		</div>
